<ul>
  <% if current_user.is_admin? ||  current_user.is_reservable? %>
    <li>
      <%= link_to "Appointments", reservable_appointments_path(current_user) %>
    </li>
  <% end %>
</ul>

<div id="calendar-contianer">
  <div id="template_form"></div>
  <div id="calendar"></div>
</div>

<%= link_to 'New Template slot', new_time_slot_path %>

<script type="text/javascript">
//TODO HZ: get these values dynamically
var config = {
  form: '<%=j render "form", locals: @time_slot %>',
  minTime: '8:00',
  maxTime: '18:00',
  slotMinutes: 15
};
</script>

<%= javascript_include_tag "bookings/time_slots" %>