<h1>Appointment Cancelled</h1>

<p>
	Your appointment with <strong><%= @user.email %></strong> on <strong><%= @old_appointment.from_time.in_time_zone(@user.time_zone) %></strong> is rescheduled to <strong><%= @appointment.from_time .in_time_zone(@user.time_zone) %></stro
</p>

