<h1>Appointment Cancelled</h1>

<p>
	Your appointment with <strong><%= @user.email %></strong> on <strong><%= @old_appointment.from_time %></strong> is rescheduled to <strong><%= @appointment.from_time %></strong>
</p>

