<div class="">
	<% @reservables.each do |reservable| %>
		<%= link_to reservable.email, reservable_appointments_path(reservable), class: ("current" if reservable == @reservable)  %>|
	<% end %>
</div>

<div id="calendar-contianer">
  <div id="template_form"></div> 
  <div id="calendar"></div>
</div>


<script type="text/javascript">
//TODO HZ: get these values dynamically
var config = {
  form: '<%=j render "form", locals: @appointment %>',
  minTime: '8:00',
  maxTime: '18:00',
  slotMinutes: 15,
  appointments_url: "<%=j reservable_appointments_slots_path(@reservable) %>"
};
</script>

<%= javascript_include_tag "bookings/appointments" %>