
<div id="calendar-contianer">
  <div id="template_form"></div>  
  <div id="copy_template">
    <%= form_tag "#{template_copy_to_time_slots_path}" do %>
      <button id="copy_to_diary">Copy to my Diary</button>
    <% end %>
  </div>
  <div id="calendar"></div>
</div>

<%= link_to 'New Template slot', new_template_slot_path %>

<script type="text/javascript">
//TODO HZ: get these values dynamically
var config = {
	form: '<%=j render "form", locals: @template_slot %>',
	minTime: '8:00',
	maxTime: '18:00'
};
</script>

<%= javascript_include_tag "bookings/template_slots" %>