.button.active{
  background-color: #2284a1;
}

#calendar-table{
  min-height: 170px;
}
table#calendar-table tr td{
  vertical-align: top;
}

table#calendar-table ul li{
  list-style-type: none;
}
.span-link{
  color:#2ba6cb;
  cursor: pointer;
}
.add-links{
  text-align: center;
}
